<div class="row">
    <div class="col-md-4">
        <div class="panel panels panel-primary">
            <div class="panel-heading">
                <label class="i-checks">
                    <input ng-disabled="is_view" ng-model="form.akses.acc_master" type="checkbox" ng-click="checkAll('acc_master', form.akses.acc_master)"/>
                    <i></i>
                    Master
                </label>
            </div>
            <div class="list-group bg-white umum_master">
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.inv_akses" type="checkbox"/>
                        <i></i>
                        Hak Akses
                    </label>
                </div>
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.inv_user" type="checkbox"/>
                        <i></i>
                        Pengguna
                    </label>
                </div>
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.inv_customer" type="checkbox"/>
                        <i></i>
                        Customer
                    </label>
                </div>
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.inv_supplier" type="checkbox"/>
                        <i></i>
                        Supplier
                    </label>
                </div>
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.inv_lokasi" type="checkbox"/>
                        <i></i>
                        Lokasi
                    </label>
                </div>
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.inv_migrasi" type="checkbox"/>
                        <i></i>
                        Migrasi Data
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-4">
        <div class="panel panels panel-primary">
            <div class="panel-heading">
                <label class="i-checks">
                    <input ng-disabled="is_view" ng-model="form.akses.acc_transaksi" type="checkbox" ng-click="checkAll('acc_transaksi', form.akses.acc_transaksi)"/>
                    <i></i>
                    Transaksi
                </label>
            </div>
            <div class="list-group bg-white acc_transaksi">
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.saldo_awal_akun" type="checkbox"/>
                        <i></i>
                        Saldo Awal Akun
                    </label>
                </div>
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.saldo_awal_hutang" type="checkbox"/>
                        <i></i>
                        Saldo Awal Hutang
                    </label>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-md-4">
        <div class="panel panels panel-primary">
            <div class="panel-heading">
                <label class="i-checks">
                    <input ng-disabled="is_view" ng-model="form.akses.acc_laporan" type="checkbox" ng-click="checkAll('acc_laporan', form.akses.acc_laporan)"/>
                    <i></i>
                    Laporan
                </label>
            </div>
            <div class="list-group bg-white acc_laporan">
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.l_budgeting" type="checkbox"/>
                        <i></i>
                        Budgeting
                    </label>
                </div>
                <div class="list-group-item">
                    <label class="i-checks">
                        <input ng-disabled="is_view" ng-model="form.akses.l_buku_besar" type="checkbox"/>
                        <i></i>
                        Buku Besar
                    </label>
                </div>
            </div>
        </div>
    </div> -->
</div>
