<style>
    td:empty::after{
        content: "\00a0";
    }
</style>

<div class="animated fadeIn">

    <div ng-controller="l_pembelian_import_pph">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Pembelian Import (PPh22)</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm" is-open="opened.bulan"
                                                   ng-click="toggle($event, 'bulan')" ng-model="form.bulan_awal"
                                                   uib-datepicker-popup="MMMM yyyy" datepicker-options="{minMode: 'month'}"
                                                   placeholder="Bulan">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm" is-open="opened.bulan2"
                                                   ng-click="toggle($event, 'bulan2')" ng-model="form.bulan_akhir"
                                                   uib-datepicker-popup="MMMM yyyy" datepicker-options="{minMode: 'month'}"
                                                   placeholder="Bulan">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <div class="btn-group">
                                                <label ng-class="{
                                                'btn-info': form.is_ppn == 1, 'btn-secondary' : form.is_ppn != 1}" class="btn btn-sm ng-untouched ng-valid ng-not-empty active ng-dirty ng-valid-parse" ng-model="form.is_ppn" ng-disabled="is_view" uib-btn-radio="1" ng-click="total()"><i class="fa fa-check" ng-if="form.is_ppn == 1"></i>PPN</label>
                                                <label ng-class="{
                                                'btn-info': form.is_ppn == 0, 'btn-secondary' : form.is_ppn != 0}" class="btn btn-sm ng-untouched ng-valid ng-not-empty ng-dirty" ng-model="form.is_ppn" ng-disabled="is_view" uib-btn-radio="0" ng-click="total()"><i class="fa fa-check" ng-if="form.is_ppn == 0"></i>Non PPN</label>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="col-md-12 text-center">
                                    <hr>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-sm" ng-click="view(0, 0)">
                                            <i class="fa fa-search"></i>
                                            Tampilkan
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" ng-show="tampilkan">
            <div class="card-header card-header-white">
                <div class="btn-group pull-right">
                    <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(1, 0)">
                        <i class="fa fa-file"></i>
                        Excel
                    </button>
                    <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(0, 1)">
                        <i class="fa fa-print"></i>
                        Print
                    </button>
                </div>
            </div>
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">{{data.lokasi}}</h2>
                                <h2 class="header-laporan">LAPORAN PEMBELIAN IMPORT (PPh22)</h2>

                                {{data.periode}}

                                </br>
                            </center>
                            <hr/>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table border="1" class="table table-hover table-bordered table-print">
                            <thead>
                                <tr align="center">
                                    <th>NO</th>
                                    <th>NAMA DAN PWP</th>
                                    <th>NPWP</th>
                                    <th>JENIS PENGHASILAN</th>
                                    <th>RUPIAH PIB</th>
                                    <th>PPH YG DIPOTONG</th>
                                    <th>NTPN</th>
                                    <th>TANGGAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="v in detail">
                                    <td align="center">{{v.no}}</td>
                                    <td align="left">{{v.total != '' ? 'DIRJEN BEA & CUKAI' : ''}}</td>
                                    <td align="center">{{v.total != '' ? v.npwp || '00.000.000.0-000.000' : ''}}</td>
                                    <td align="left">{{v.total != '' ? 'IMPORT' : ''}}</td>
                                    <td align="right">{{v.total != '' ? (v.total| number : 2) : ''}}</td>
                                    <td align="right">{{v.pph22| number : 2}}</td>
                                    <td align="center">{{v.ntpn}}</td>
                                    <td align="center">{{v.tanggal_ntpn}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>